{{ define "header" }}
  {{ partial "menu" . }}
  <div class="hero" style="margin-bottom:2em;">
    <div class="hero-body">
        <div class="container">
            <div class="container has-text-centered">
                <h1 class="title is-2 has-text-centered">{{ .Title }}</h1>
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ define "main" }}
<div class="is-divider" data-content="TOOLS"
                            style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;">
                        </div>
  <main class="container" aria-label="Content">
    <div class="columns is-multiline">
        <div class="column">
            <div class="field is-grouped is-grouped-multiline">
                {{ range .Site.Taxonomies.categories }}
                <div class="control">
                    <div class="tags has-addons">
                      <a href="{{ .Page.Permalink }}" class="tag is-link">{{ .Page.Title }}</a>
                      <a href="{{ .Page.Permalink }}" class="tag">{{ .Count }}</a>
                    </div>
                  </div>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="columns is-multiline">
        {{ range .Paginator.Pages }}
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        {{ if (isset .Params "images")}}
                         {{ $cardimage := index (.Params.images) 0}}
                         <img src="/images/{{ index (split .File ".") 0}}/{{$cardimage.path}}" alt="{{.Title}}">
                         {{else}}
                         {{ $cardimage := "/images/tools/default.svg"}}
                         <img src="{{$cardimage}}" alt="{{.Title}}">
                        {{ end }}
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <a href="{{ .Permalink }}">
                                <p class="title is-4">{{.Title}}</p>
                            </a>
                            <p class="subtitle is-6">{{.Params.categories}}</p>
                        </div>
                    </div>

                    <div class="content">
                        <time datetime="{{.Lastmod}}">{{.Lastmod}}</time>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

    </div>
    <div class="is-divider" style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div>

    <div class="container">
        <div class="columns">
            <div class="column" style="margin-bottom: 2em;padding-bottom:1em;">
        {{ partial "pagination" . }}
    </div>
    </div>
    </div>
</main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
