<article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <h1 class="title is-3">{{ .Title }}</h1>
          {{ if .Description }}
          <div>
            <i class="fas fa-quote-left" style="margin-right: 0.5em;"></i>
            <span style="margin-left: 12px;">{{ .Description }}</span>
          </div>
          {{ end }}

          {{ if .Params.website }}
          <h3 class="title is-4"><i class="fas fa-link" style="margin-right: 0.5em;"></i>
            <a href="{{ .Params.website }}" class="button is-danger is-light is-small">{{ .Params.website }}</a>
          </h3>
          {{ end }}
        </p>

    </div>
    <div class="media-right">

    </div>
  </article>



