<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{.Site.BaseURL | relURL}}">
      {{.Site.Title}}
    </a>
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">


      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/tools" class="navbar-link">
          <i class="fas fa-toolbox" style="margin-right: 0.3em;"></i>All Tools
        </a>
        <div class="navbar-dropdown">
          {{ range $.Site.Taxonomies.categories }}
          <a href="{{ .Page.Permalink }}" class="navbar-item">
            {{ .Page.Title }}
          </a>
          {{ end }}
        </div>
      </div>



    </div>



    <!-- This "navbar-burger" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="navbar-end">

      <div class="navbar-item">
        <p class="control has-icons-right">
          <input id="search-bar" class="input" type="search" placeholder="Search tools...">
          <span class="icon is-small is-right">
            <icon />
          </span>
        </p>
      </div>

      <div class="navbar-item">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if eq (lower .Name) "tools" }}

        {{else}}
        <a itemprop="url"
          class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}"
          href="{{.URL}}"><span itemprop="name">{{ .Name | safeHTML }}</span></a>
        {{ end }}
        {{ end }}

        {{ if .Site.Taxonomies.author }}

        <a class="navbar-item tooltip" title="All Contributors" href="{{ "/author" | relLangURL }}">
          <span class="icon" style="color: green;">
            <i class="far fa-id-card"></i>
          </span>
          <span class="tooltiptext">Content Contributors</span>
        </a>
        {{end}}

        {{ if .Site.Params.sunspot }}

        <a class="navbar-item tooltip" title="Sunspot" target="blank" href="{{.Site.Params.sunspot}}">
          <span class="icon" style="color: orange;">
            <i class="fas fa-sun"></i>
          </span>
          <span class="tooltiptext">Sunspot: anonymous mindfulness in research</span>
        </a>
        {{end}}
        {{ if .Site.Params.github}}
        <a class="navbar-item tooltip" target="blank" href="https://github.com/{{.Site.Params.github}}">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span class="tooltiptext">Source code: everything is transparent</span>
        </a>
        {{end}}
        {{ if .Site.Params.twitter}}
        <a class="navbar-item" target="blank" href="https://twitter.com/{{.Site.Params.twitter}}">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
        </a>
        {{end}}
        {{ if .Site.Params.facebook }}
        <a class="navbar-item tooltip" target="blank" href="https://www.facebook.com/{{.Site.Params.facebook}}">
          <span class="icon">
            <i class="fab fa-facebook"></i>
          </span>
          <span class="tooltiptext">Facebook: discuss and share on Facebook</span>
        </a>
        {{end}}


      </div>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>