{{ define "title"}} {{ .Title }} {{ end }}

{{ define "style"}}
<link rel="stylesheet" href="/css/blog-post.css">
<link rel="stylesheet" href="/css/code-highlighting/dark.css">
<link rel="stylesheet" href="/css/custom.css">

{{ end }}

{{ define "header"}} {{ partial "menu" .}}

<header class="post-header">

    <div class="hero" style="margin-bottom:2em;">
        <div class="hero-body">
            <div class="container">
                <div class="container has-text-centered">
                    <h1 class="title is-2 has-text-centered">{{ .Title }}</h1>
                    <section class="section has-text-left">
                        <article class="message is-info">
                            <div class="message-body">
                                <p>{{ .Params.summary }}</p>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}

<div class="container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <section class="section blog">
        <div class="container">

            <div class="columns">
                <div class="column">


                    <section class="section">
                        <article class="message is-success is-light">
                            <div class="message-header">
                                <p>{{.Title}}</p>
                            </div>
                            <div class="message-body">

                                <div class="columns is-multiline">
                                    <div class="column is-half">
                                        <div class="is-divider" data-content="CATEGORIES"
                                            style="border-top:.1rem dashed #dbdbdb57 !important;margin: 0.5rem 0 1.5rem 0 !important;">
                                        </div>
                                        <p class="has-text-centered">
                                            {{ range $cat := .Params.categories }}
                                            <span class="tag is-link is-light">{{$cat}}</span>
                                            {{ end }}
                                        </p>
                                    </div>
                                    <div class="column is-half">
                                        <div class="is-divider" data-content="TAGS"
                                            style="border-top:.1rem dashed #dbdbdb57 !important;margin: 0.5rem 0 1.5rem 0!important;">
                                        </div>
                                        <div class="tags is-centered">
                                            {{ range $tag := .Params.tags }}
                                            <span class="tag is-warning is-light">{{$tag}}</span>
                                            {{ end }}
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="is-divider" data-content="PLATFORMS"
                                            style="border-top:.1rem dashed #dbdbdb57 !important;margin: 0.5rem 0 1.5rem 0!important;">
                                        </div>
                                        <div class="tags is-centered">
                                            {{ range $pf := .Params.platforms }}
                                            <span class="tag is-white">{{$pf}}</span>
                                            {{ end }}
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="is-divider" data-content="LINKS"
                                            style="border-top:.1rem dashed #dbdbdb57 !important;margin: 0.5rem 0 1.5rem 0!important;">
                                        </div>
                                        <div class="tags is-centered">
                                            {{range $link := .Params.links}}
                                            <a href="{{ $link.link }}" class="tag is-danger is-light">
                                                <i class="fas fa-link"></i> {{ $link.name }}
                                            </a>
                                            {{end}}
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </article>
                    </section>

                    <section class="section">
                        <div class="is-divider" data-content="FEATURES of {{.Title}}"
                            style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;">
                        </div>
                        <article class="message is-warning is-light">
                            <div class="message-header">
                                <p>Features</p>
                            </div>
                            <div class="message-body">

                                <ul id="all-tags">
                                    {{ range $idx, $tag := .Params.features }}
                                    <li>
                                        <p>{{ $tag }}</p>
                                    </li>
                                    {{ end }}
                                </ul>

                            </div>
                        </article>
                    </section>

                    <section class="section">
                        <div class="is-divider" data-content="TOOLS RELATED {{.Title}}"
                            style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;">
                        </div>
                        <article class="message is-info is-light">
                            <div class="message-header">
                                <p>TOOLS RELATED to {{.Title}}</p>
                            </div>
                            <div class="message-body">
                                {{ partial "related-tools" . }}
                            </div>
                        </article>
                    </section>
                </div>

                <div class="column">

                    <!-- Image -->
                    {{ if (isset .Params "images")}}

                    <section class="section">
                        <div class="container is-fluid">
                            <div class="columns is-multiline">
                                {{ $filePath := index (split .File `.`) 0}}
                                {{ range .Params.images }}
                                {{ $fullPath := (printf "/images/%s/%s" $filePath .path) }}
                                {{ if (fileExists (printf "static%s" $fullPath)) }}
                                <div class="column is-full">
                                    <img src="{{$fullPath}}" alt="{{.Title}}">
                                    <div class="is-divider"
                                        style="border-top:.1rem dashed #dbdbdb57 !important;margin: 2rem 1rem 2rem 1rem !important;">
                                    </div>
                                </div>

                                {{ else }}
                                {{ end }}

                                {{ end }}
                            </div>
                        </div>
                    </section>
                    {{end}}
                    <!-- /Image -->

                </div>


            </div>
            <div class="columns is-mobile">
                <div class="column">

                    <div class="content blog-post section" itemprop="articleBody">

                        {{ partial "toc" .}}

                        {{.Content}}
                    </div>


                    <p>{{ partial "post/meta" . }}</p>
                    <!-- {{ partial "post/byauthor" . }} -->
                    {{ partial "utterances-comments.html" . }}

                </div>

            </div>
        </div>
    </section>
</div>

{{ partial "nav-buttons.html" . }}

{{ end }}

{{ define "footer"}}
{{ partial "footer.html" .}}
{{ end }}