<!-- Hero content: will be in the middle -->
</section>
<div class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column">
                    <img src="images/home/undraw_science_fqhl.svg">
                </div>
                <div class="column is-three-fifths">
                    <h1 class="title is-2 is-spaced" style="text-transform: none;">
                        Tools for Academic Research
                    </h1>
                    <div>
                        <p class="is-small">
                            We provide a curated list of tools for researchers to help researchers save time.
                        </p>
                    </div>

                    <div class="is-divider"
                        style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div>

                    <h2 class="subtitle is-4" style="text-transform: none;">
                        <div class="tags is-centered">
                            <span class="tag is-info is-rounded">Find the Best Tools for Your Research Life</span>
                            <span class="tag is-info is-rounded">Share Your Experiences</span>
                            <span class="tag is-info is-rounded">Guide Each Other</span>
                        </div>
                    </h2>
                    <div class="is-divider"
                        style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;"></div>

{{ $posts := (where $.Site.RegularPages "Section" "==" "tools") }}
{{ $postCount := len $posts }}
                    <div class="buttons is-centered">
                        <a href="/tools" class="button is-warning is-large">View Tool List ({{ $postCount }})</a>
                        <a href="/submit" class="button is-danger is-large">Submit New Tools</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>
