{{ define "header" }}
{{ partial "menu" . }}
<div class="hero" style="margin-bottom:2em;">
    <div class="hero-body">
        <div class="container">
            <div class="container has-text-centered">
                <h1 class="title is-2 has-text-centered">Research Tools</h1>
            </div>
        </div>
    </div>
</div>

{{ end }}


{{ define "main" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css" />
<link rel="stylesheet" href="/assets/search/app.css" />
<div class="is-divider" data-content="TOOLS"
    style="border-top:.1rem dashed #dbdbdb57 !important;margin: 1rem 0 !important;">
</div>
<main class="container" aria-label="Content">

    <div class="ais-InstantSearch">
        <div class="left-panel">
            <div id="clear-refinements"></div>

            <h2>Categories</h2>
            <div id="cat-list"></div>
        </div>

        <div class="right-panel">
            <div id="searchbox" class="ais-SearchBox"></div>
            <div id="hits"></div>
            <div id="pagination"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>
    <script src="/assets/search/app.js"></script>


</main>
{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}